@import '../../../styles/color'
    
.container
    position: relative
    display: flex
    justify-content: flex-start
    flex-direction: column
    width: 100%
    margin-bottom: 65px
    color: $color-orange
    font-weight: 700
    font-size: 19px
    line-height: 116%
    font-weight: 700
    font-size: 19px
    line-height: 116%
    color: $color-orange

    .title
        display: flex
        margin-bottom: 25px

    .buttons
        display: flex
        flex-wrap: wrap
        gap: 10px

        .button
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            padding: 13px
            color: $color-orange
            background: none
            border-style: solid
            border: 1px solid $color-orange
            border-radius: 6px
            cursor: pointer
            transition: 0.5s background-color ease
            &:hover
                background-color: $color-orange-transparent

        .btn-focus
            background-color: $color-orange
            color: #1b1a1a
            border-style: solid
            border: 1px solid $color-orange
            padding: 13px
            border-radius: 6px
            cursor: pointer

            &:active
                background-color: $color-orange
                color: #1b1a1a
