@import '../../../styles/mixins'

.container
    position: fixed
    z-index: 1000
    top: 0
    left: 0
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.5)
    backdrop-filter: blur(10px)
    transform: scale(0)

    .window
        position: relative
        display: flex
        flex-direction: column
        justify-content: space-between
        max-width: 860px
        width: 100%
        height: 670px
        padding: 38px 82px
        background: #1b1a1a1a
        background: linear-gradient(to top, #1b1a1adb, #1b1a1adb), linear-gradient(to top, #535353 , #FF9900)
        background-clip: padding-box, border-box
        background-origin: padding-box, border-box
        border: 2px solid transparent
        border-radius: 14px
        backdrop-filter: blur(100px)
        box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.62)
        box-sizing: border-box

        @include mobile
            max-width: 460px
            width: 100%
            height: 370px
            padding: 38px 38px

        .title
            margin-bottom: 10px
            color: #f90
            font-family: "Source Sans 3"
            font-weight: 700
            font-size: 42px
            line-height: 70%
            text-transform: uppercase

            @include mobile
                font-size: 20px

        .form
            display: flex
            justify-content: space-between

            @include mobile
                justify-content: space-around
                gap: 26px

            .fieldset
                display: flex
                flex-direction: column
                gap: 46px

                @include mobile
                    gap: 20px

    .info
        justify-content: start
        max-width: 660px
        width: 100%
        height: 470px

        .title
            margin-bottom: 40px
        .form
            justify-content: space-evenly
            align-items: center
            gap: 40px

            .fieldset
                align-items: flex-start
                gap: 15px
                color: #f90
                font-family: 'Heebo'
                font-size: 30px
                text-align: start
                word-break: break-all

                .label
                    color: #6c6c6c
                    font-size: 15px
                    font-weight: 200

.add_images_box
    display: flex
    flex-direction: column
    align-items: center
    gap: 28px

.buttons_box
    display: flex
    justify-content: space-between

    @include mobile
        justify-content: space-around
        gap: 26px

.closed
    position: absolute
    right: 22px
    top: 20px
    display: flex
    justify-content: center
    align-items: center
    width: 34px
    padding: 3px
    color: #f90
    font-weight: 100
    font-size: 37px
    text-transform: capitalize
    text-align: center
    background: #363531
    border: none
    border-radius: 6px
    cursor: pointer

    @include mobile
        width: 24px
        height: 24px

.genre
    width: 390px
    padding: 16px
    color: #f90
    font-family: "Heebo"
    font-weight: 100
    font-size: 24px
    line-height: 92%
    background: #363531
    border: 1px solid #f90
    border-radius: 6px
    cursor: pointer

.active
    transform: scale(1)

.add_music
    justify-content: end
.style-input
    width: 350px
    padding: 16px
    color: #f90
    font-weight: 100
    font-size: 24px
    line-height: 92%
    background: #363531
    border: 1px solid #f90
    border-radius: 6px
    font-family: "Heebo"

    &::placeholder
        color: #6c6c6c

    @include mobile
        width: 120px
        padding: 6px
        font-size: 14px

    &[type="number"]::-webkit-inner-spin-button
        height: 0
        opacity: 0
        -webkit-appearance: none
